.main-container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.team1-container{
  text-align: center;
}
.team1-buttons {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}
.team1-buttons button{
  background-color: #fcfcfc;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
}
.team1-buttons button:hover {
  background-color: #4CAF50;
  border: #4CAF50;
  color: white;
}
.team2-container{
  text-align: center;
}
.team2-buttons {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}
.team2-buttons button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.team2-buttons button:hover {
  background-color: #44cece;
  border: #44cece;
  color: white;
}